body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
}

/* wrapper component*/
#wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
}

#wrapper.light-theme {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

#wrapper.dark-theme {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

/* search style */

#form {
  max-width: 1500px;
  margin: auto;
}

#form .outerInput {
  width: 90%;
  max-width: 280px;
  display: grid;
  position: relative;
  margin-top: 30px;
  grid-template-columns: 5% 1fr;
  margin-left: 5%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px -2px;
}

#form .searchInput {
  width: calc(90% - 52px);
  padding-left: 40px;
  height: 50px;
  background-color: transparent;
  font-size: 14px;
  grid-column-start: 2;
  border: none;
}

#form .searchInput:focus {
  outline: none;
}

#form svg.searchIcon {
  width: 31px;
  height: 18px;
  transform: translateX(15px);
  transition: transform ease-in-out 130ms;
  padding-top: 16px;
}

input.searchInput.light-theme::placeholder {
  color: hsl(0, 0%, 52%);
  font-weight: 300;
}

input.searchInput.dark-theme::placeholder {
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

/* regionFilter */
#show-regions-bt {
  width: 190px;
  height: 50px;
  margin: 35px 0 0 5%;
  position: relative;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px -2px;
  cursor: pointer;
}

#show-regions-bt p {
  position: absolute;
  left: 13%;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

#down-arrow {
  position: absolute;
  width: 10px;
  right: 13%;
  top: 50%;
  transition: ease-in-out 200ms transform;
  transform: translateY(-50%);
}

#region-filter {
  margin-bottom: 35px;
  user-select: none;
}

@keyframes goingDown {
  from {
    margin-top: -10px;
    opacity: 0.5;
  }
  to {
    margin-top: 10px;
    opacity: 1;
  }
}

#region-filter ul {
  display: none;
  width: 190px;
  padding: 10px 0;
  position: absolute;
  list-style: none;
  animation: goingDown ease-in-out 300ms;
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 7px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px -2px;
}

#region-filter ul li {
  margin: 7px 13%;
  font-size: 14px;
  cursor: pointer;
}

/* navbar */

#navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 11px 4px rgba(0, 0, 0, 0.05);
  animation: ease-in 500s;
}

#navbar ul {
  list-style: none;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

#navbar ul li {
  display: inline-block;
  font-size: 16px;
}

#navbar .title {
  float: left;
  font-weight: 800;
  padding: 22px 5%;
}

#navbar .light-toggle {
  float: right;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 22px 5% 22px 0;
}

#navbar .moon-icon {
  position: absolute;
  left: -26px;
  bottom: 50%;
  width: 16px;
  transform: translateY(50%);
  transition: ease-in 2s;
}

/*country card*/

#cards {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 40px 5%;
  row-gap: 20px;
  column-gap: 2%;
  transition: left ease-in-out 300ms;
}

a {
  text-decoration: none !important;
  color: currentColor !important;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  animation: fading 2000ms ease-in-out;
  transition: transform ease-in-out 200ms;
  width: 100%;
  margin: 0 auto 35px;
  min-height: 320px;
  border-radius: 7px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px -2px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.3fr 0.5fr;
  padding-bottom: 30px;
  text-decoration: none;
}

#cards .card:hover {
  transform: scale(1.05);
}

.flags {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 7px 7px 0 0;
}

.country-name {
  font-size: 18px;
  margin: 0 13% 15px 13%;
}

.countries-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countries-details li {
  margin: 3px 0 5px 13%;
  font-size: 14px;
}

.countries-details span {
  font-weight: 600;
}

#loading {
  width: 100%;
  padding-top: 190px;
}

#loading .circles {
  padding: 0 50%;
  position: relative;
}

@keyframes dancing {
  from {
    top: -10px;
  }
  to {
    top: 0;
  }
}

#loading .circle {
  position: absolute;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #888;
}

#loading .circle:nth-child(1) {
  left: 45%;
  animation: 200ms dancing ease-in-out alternate infinite;
}

#loading .circle:nth-child(2) {
  left: 50%;
  animation: 200ms dancing 200ms ease-in-out alternate infinite;
}

#loading .circle:nth-child(3) {
  left: 55%;
  animation: 200ms dancing 100ms ease-in-out alternate infinite;
}

.nothingFound h3 {
  /* font-size: 16px; */
  margin: 30px 6%;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* countrydetail*/
#details-page {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  font-size: 14px;
  font-weight: 300;
}

#details-page .first-list h1 {
  font-size: 20px;
}

.square-element {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px -2px;
  border-radius: 5px;
}

#button-to-home {
  width: 28vw;
  height: 40px;
  margin: 35px 5%;
  display: -webkit-inline-box;
  cursor: pointer;
}

#button-to-home p {
  font-size: 14px;
  margin-top: 11px;
  margin-left: 20%;
}

#arrow-back {
  width: 40px;
}

#details-page .first-list {
  margin: 30px 5%;
}

#details-page .second-list {
  margin: 30px 5%;
}

#arrow-back svg {
  width: 17px;
  padding-left: 80%;
  height: 40px;
}

#details-page img {
  width: 90%;
  margin: 0 5%;
  height: auto;
}

#details-page ul li {
  margin: 5px 0;
}

#details-page ul {
  list-style: none;
  padding-left: 0%;
}

#details-page .countries-border-row {
  margin: 20px 5%;
  display: grid;
}

#details-page .countries-border-row span {
  width: 100%;
  margin-bottom: 15px;
}

#details-page .countries-border-row ul {
  margin: 0 0 0 0;
}

#details-page .countries-border-row li {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  margin: 5px 10px 5px 0;
}

#details-page span {
  font-weight: 600;
}
@media only screen and (max-width: 375px) {
  #navbar .light-toggle {
    padding: 22px 5% 22px 0;
  }
  #navbar .title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  #button-to-home {
    width: 45vw;
  }
}

@media only screen and (min-width: 599px) {
  #cards {
    display: grid;
    grid-template-columns: 48% 48%;
    width: 90%;
    margin: 40px 5%;
    grid-row-gap: 20px;
  }
  #region-filter {
    margin-left: 5%;
  }
  #show-regions-bt {
    margin: 35px 0 0 0 !important;
  }
  .card {
    max-width: 260px;
    width: 100%;
  }
  .nothingFound {
    clear: both;
  }
}

@media only screen and (min-width: 768px) {
  #details-page {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
  #button-to-home {
    grid-column: span 4;
    margin: 35px 5%;
    max-width: 160px;
  }
  #details-page img {
    width: 90%;
    margin: 0 10%;
    grid-column: span 2;
    grid-row: span 1;
  }
  #details-page .first-list {
    grid-column: span 2;
    margin: -10px 0 0 20%;
  }
  #details-page .second-list {
    grid-column: span 4;
    margin: 40px 0 0 5%;
  }
  #details-page .countries-border-row {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column: span 4;
    margin: 60px 5%;
  }
  #details-page .countries-border-row ul {
    margin: -13px 0 0 -20px;
  }
  #region-filter {
    float: right;
    margin-right: 5%;
    margin-left: 5%;
  }
  #region-filter ul {
    margin-left: 0px;
  }
  #form .outerInput {
    float: left;
    margin-top: 35px;
  }
  #form .searchInput {
    width: calc(90% - 12px);
  }
}

@media only screen and (min-width: 810px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 90%;
    margin: 40px 5%;
    grid-row-gap: 5vw;
    column-gap: 5%;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 910px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    width: 90%;
    margin: 40px 5%;
    column-gap: 11%;
    grid-row-gap: 5vw;
  }
  .card {
    width: 100%;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 1050px) {
  #button-to-home {
    width: 190px;
    grid-column: span 5;
    margin: 35px 5%;
  }
  #details-page img {
    width: 82%;
    min-height: 270px;
    margin: 25px 12%;
    grid-column: span 2;
    grid-row: span 2;
  }
  #details-page {
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }
  #details-page a {
    grid-column: span 4;
    grid-row: 1;
  }
  #details-page .first-list {
    grid-column: span 1;
    margin: 28px 20% 0;
    width: 130%;
  }
  #details-page .second-list {
    grid-column: span 1;
    margin: 74px 60% 0;
    width: 110%;
  }
  #details-page .countries-border-row {
    margin: 0 7%;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 20% 1fr;
  }
  #details-page .countries-border-row ul {
    margin: -13px 0 0 20px;
  }
}

@media only screen and (min-width: 1220px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(4, 21.2%);
    width: 90%;
    max-width: 1350px;
    margin: 141px 0;
    grid-column-gap: 5%;
    column-gap: 5%;
    grid-row-gap: 2vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .card {
    max-width: 300px;
    width: 100%;
    margin: 10px 0;
  }
}
